*{ 
   margin: 0; 
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
}

.header{ 
    width: 100%;
    height: 100vh;
    background: #e2e9f7;
    min-height: 100vh;
    background-image: url(images/galaxy3.png);
    background-size: cover;
    background-position: center;
    position: relative
    ;
}
.side-nav{
    width: 250px;
    height: 100%;
    background: linear-gradient(purple, blue); 
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
}
.logo{
    display: block;
    margin-bottom: 130px;
}
.logo-image{ 
    width:150px;
}
.nav-links li{
    padding: 10px;

}
.nav-links{
    position: relative;
    list-style: none;
}
.nav-links li a{
    color: #fff;
    text-decoration: none;
    padding: 10px 14px;
    display: flex;
    align-items: center;
}
.nav-links li a i{
    font-size: 22px;
    margin-right: 20px;
}
.active{
    background: #fff;
    width: 100%;
    height: 47px;
    position: absolute;
    left: 0;
    top: 2.6%;
    z-index: -1;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(255, 255, 255, 0.4);
    display: none;
    transition: top 0.2s;
}
.nav-links li:hover a{
    color: #0d74f5;
    transition: 0.3s;
}
.nav-links li:hover ~ .active{
    display: block;
}
.nav-links li:nth-child(1):hover ~ .active{
    top: 2.6%;
}
.nav-links li:nth-child(2):hover ~ .active{
    top: 22.6%;
}
.nav-links li:nth-child(3):hover ~ .active{
    top: 42.6%;
}
.nav-links li:nth-child(4):hover ~ .active{
    top: 62.6%;
}
.nav-links li:nth-child(5):hover ~ .active{
    top: 82.6%;
}
.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
.home-text {
 background-color: rgba(255, 255, 255, 0.4);
 text-align: center;
 align-self: center;
 color: red;
 width: 61%;
 height: 50%;
}
#front{
    z-index: 1;
    text-indent: 90%;
    
}
.centered {
    position: absolute;
    left: 60%;
    top: 15%;
    transform: translate(-50%, -50%);
    color: #84e916;
}
.aboutcentered {
    position: absolute;
    left: 60%;
    top: 45%;
    transform: translate(-50%, -50%);
    color: #84e916;
    font-size: large;
}
.aboutbox {
    background-color: black;
    opacity: 0.7;
    margin-top: 80px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    height: 900px;
    width: 1400px;
}
.centeredboxtext {
    position: absolute;
    left: 60%;
    top: 45%;
    transform: translate(-50%, -50%);
    color: seashell;
    font-size: large;
    background-color: black;
    opacity: 0.7;
    margin-top: 60px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 700px;
    padding: 1.6%;
}
.largecenteredboxtext {
    position: absolute;
    left: 60%;
    top: 45%;
    transform: translate(-50%, -50%);
    color: seashell;
    font-size: large;
    background-color: black;
    opacity: 0.7;
    margin-top: 60px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    height: 280px;
    width: 700px;
    padding: 1.6%;
}
.pyronictext { 
    color: orangered;

}
.lunartext {
    color: blueviolet;
}
.otherpagetext {
    color: cadetblue;
}
.unturnedtext {
    color: chartreuse;
}
.stafftext {
    color: deeppink;
}
.discordtext {
    color: blue;
}
.discordlogo {
    margin-left: 35%;
    margin-top: 30%;
}
.boost {
    color: hotpink;
}
.largercenteredboxtext {
    position: absolute;
    left: 60%;
    top: 45%;
    transform: translate(-50%, -50%);
    color: seashell;
    font-size: large;
    background-color: black;
    opacity: 0.7;
    margin-top: 60px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    height: 298px;
    width: 700px;
    padding: 1.6%;
}